.section-line {
    display: flex;
    align-items: center;
    width: 1000%;
  }
  
  hr {
    flex-grow: 50;
    border: none;
    height: 1px;
    width: max-content;
    background-color: grey;
  }
  
  .section-label {
    margin: 0 10px;
    font-size: 14px;
    color: #555; 
  }
  